<?xml version="1.0" standalone="yes"?>

<OpcUaMessgeServerTpl.config>
  <xs:schema id="OpcUaMessgeServerTpl.config" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="OpcUaMessgeServerTpl.config" msdata:IsDataSet="true" msdata:UseCurrentLocale="true">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="LocalObjects">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Name" type="xs:string" minOccurs="0" />
                <xs:element name="Assembly" type="xs:string" minOccurs="0" />
                <xs:element name="Class" type="xs:string" minOccurs="0" />
                <xs:element name="CreateMode" type="xs:string" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="RemotingObjects">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Name" type="xs:string" minOccurs="0" />
                <xs:element name="Assembly" type="xs:string" minOccurs="0" />
                <xs:element name="Class" type="xs:string" minOccurs="0" />
                <xs:element name="CreateMode" type="xs:string" minOccurs="0" />
                <xs:element name="URI" type="xs:string" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <RemotingObjects>
    <Name>OrchestratorPlugin</Name>
    <Assembly>OrchestratorPlugin.dll</Assembly>
    <Class>OrchestratorPlugin.Plugin</Class>
    <CreateMode>INITIAL</CreateMode>
  </RemotingObjects>
</OpcUaMessgeServerTpl.config>